{% extends 'cabinet/index.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Составление плана поля' %}{% endblock page_title %}
{% block page_name %}{% trans 'Составление плана поля' %}{% endblock page_name %}

{% block header_vendor_css %}
    <link rel="stylesheet" href="{% static '' %}quantum-pro/assets/vendor/select2/select2.min.css">
{% endblock header_vendor_css %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{% trans 'Выбор поля и культуры' %}</h5>
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <select name="choice-field" id="choice-field-id" class="form-control select2">
                                        <option disabled selected>{% trans 'Выбрать поле' %}</option>
                                        {% for field in fields %}
                                            <option value="{{ field.id }}">{{ field.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <select name="choice-agriculture" id="choice-agriculture-id" class="form-control select2">
                                        <option disabled selected>{% trans 'Выбрать культуру' %}</option>
                                        {% for agriculture in agricultures %}
                                            <option value="{{ agriculture.id }}">{{ agriculture.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <select name="choice-agriculture" id="choice-seeds-id" class="form-control select2" disabled>
                                        <option disabled selected>{% trans 'Выбрать семена' %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success btn-block" value="{% trans 'Сохранить и продолжить' %}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{% trans 'Составление плана' %}</h5>
                <div class="card-body">
                    <form action="">
                        <div class="table-responsive">
                            <table class="table" id="add-planning-table">
                                <tr>
                                    <th>{% trans 'Работа' %}</th>
                                    <th>{% trans 'Ед. изм' %}</th>
                                    <th>{% trans 'Этап' %}</th>
                                    <th>{% trans 'Действия' %}</th>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="row m-b-20">
                        <div class="col-8">
                            <button class="btn btn-success btn-block" id="add-planning-add-row">+</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-info btn-block">{% trans 'Пересчитать' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer_vendor_scripts %}
    <script src="{% static '' %}quantum-pro/assets/vendor/select2/select2.min.js"></script>
{% endblock footer_vendor_scripts %}

{% block footer_scripts %}{% endblock footer_scripts %}