{% extends 'cabinet/index.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Составление плана поля' %}{% endblock page_title %}
{% block page_name %}{% trans 'Составление плана поля' %}{% endblock page_name %}

{% block header_vendor_css %}
    <link rel="stylesheet" href="{% static '' %}quantum-pro/assets/vendor/select2/select2.min.css">
{% endblock header_vendor_css %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">dsf</h5>
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="choice-field-id">{% trans 'Выбрать поле' %}</label>
                                    <select name="choice-field" id="choice-field-id" class="form-control select2">
                                        <option disabled selected>{% trans 'Выбрать поле' %}</option>
                                        {% for field in fields %}
                                            <option value="{{ field.id }}">{{ field.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="choice-agriculture-id">{% trans 'Выбрать культуру' %}</label>
                                    <select name="choice-agriculture" id="choice-agriculture-id" class="form-control select2">
                                        <option disabled selected>{% trans 'Выбрать культуру' %}</option>
                                        {% for agriculture in agricultures %}
                                            <option value="{{ agriculture.id }}">{{ agriculture.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer_vendor_scripts %}
    <script src="{% static '' %}quantum-pro/assets/vendor/select2/select2.min.js"></script>
{% endblock footer_vendor_scripts %}

{% block footer_scripts %}{% endblock footer_scripts %}