{% load i18n l10n %}

<tr>
    <td>
        <div class="form-group">
            <select name="" class="select2 form-control planning-add-row-choice-work">
                <option disabled selected>{% trans 'Выбрать работу' %}</option>
                {% for work in works %}
                    <option value="{{ work.id }}">{{ work.title }}</option>
                {% endfor %}
            </select>
        </div>
    </td>
    <td>
        <div class="form-group">
            <select name="" class="select2 form-control planning-add-row-choice-work-unit">
                <option disabled selected>{% trans 'Выбрать ед. изм' %}</option>
            </select>
        </div>
    </td>
    <td>
        <div class="form-group">
            <select name="" class="select2 form-control">
                <option disabled selected>{% trans 'Выбрать этап' %}</option>
                {% for process_cycle in process_cycles %}
                    <option value="{{ process_cycle.id }}">{{ process_cycle.title }}</option>
                {% endfor %}
            </select>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control" value="{{ field_square|unlocalize }}" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <select name="" class="select2 form-control planning-add-row-technique-for-work">
            <option disabled selected>{% trans 'Выбрать технику' %}</option>
        </select>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control" min="0" value="0">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control other-parent" min="0" value="0">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control" value="0">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    {# Затраты труда (человекочасы) #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control other-child" min="0" disabled>
        </div>
    </td>
    {# Оплата за норму по тарифу #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control other-child" min="0" disabled>
        </div>
    </td>
    {# Оплата по тарифу за весь объём #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control other-child" min="0" disabled>
        </div>
    </td>
    {# Коэфициент поощерений за качество работ #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control other-child" min="0" disabled>
        </div>
    </td>
    {# Всего по оплате труда #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control other-child" min="0" disabled>
        </div>
    </td>
    {# Топливо #}
    {# Расходы на содержание основных средств #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    {# Расходы на содержание основных средств #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control">
        </div>
    </td>
    <td>
        <button class="btn btn-danger add-plan-row__delete-row"><i class="la la-trash white-color"></i></button>
    </td>
</tr>