{% load i18n l10n %}

<tr>
    <td>
        <div class="form-group">
            <select name="" class="select2 form-control planning-add-row-choice-work">
                <option disabled selected>{% trans 'Выбрать работу' %}</option>
                {% for work in works %}
                    <option value="{{ work.id }}">{{ work.title }}</option>
                {% endfor %}
            </select>
        </div>
    </td>
    <td>
        <div class="form-group">
            <select name="" class="select2 form-control planning-add-row-choice-work-unit">
                <option disabled selected>{% trans 'Выбрать ед. изм' %}</option>
            </select>
        </div>
    </td>
    <td>
        <div class="form-group">
            <select name="" class="select2 form-control">
                <option disabled selected>{% trans 'Выбрать этап' %}</option>
                {% for process_cycle in process_cycles %}
                    <option value="{{ process_cycle.id }}">{{ process_cycle.title }}</option>
                {% endfor %}
            </select>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control volume_start" value="{{ field_square|unlocalize }}" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control volume_finish" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control" readonly>
        </div>
    </td>
    <td>
        <select name="" class="select2 form-control planning-add-row-technique-for-work">
            <option disabled selected>{% trans 'Выбрать технику' %}</option>
        </select>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control composition_driver" min="0" value="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control composition_others other-parent" min="0" value="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control output_rate" value="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control output_rate_driver" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control output_rate_other" readonly>
        </div>
    </td>
    {# Затраты труда (человекочасы) #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control labor_coast_driver" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control other-child labor_coast_other" min="0" readonly>
        </div>
    </td>
    {# Оплата за норму по тарифу #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control coast_for_output_rate_driver" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control other-child coast_for_output_rate_others" min="0" readonly>
        </div>
    </td>
    {# Оплата по тарифу за весь объём #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control coast_for_all_output_rate_driver" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control other-child coast_for_all_output_rate_others" min="0" readonly>
        </div>
    </td>
    {# Коэфициент поощерений за качество работ #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control coefficient_for_quality_driver" min="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control other-child coefficient_for_quality_others" min="0" readonly>
        </div>
    </td>
    {# Всего по оплате труда #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control all_salary_drivers" min="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control other-child all_salary_others" min="0" readonly>
        </div>
    </td>
    {# Топливо #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control fuel_rate" min="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control all_fuel" min="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control" min="0" readonly>
        </div>
    </td>
    {# Расходы на содержание основных средств #}
    <td>
        <div class="form-group">
            <input type="number" class="form-control" min="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control" min="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control" min="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control" min="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control" min="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control" min="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control" min="0" readonly>
        </div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" class="form-control" min="0" readonly>
        </div>
    </td>
    <td>
        <div class="btn-group">
            <button class="btn btn-warning change_data btn-rounded btn-floating"><i class="la la-edit white-color"></i></button>
            <button class="btn btn-danger add-plan-row__delete-row btn-rounded btn-floating"><i class="la la-trash white-color"></i></button>
        </div>
    </td>
</tr>