.white-color {
    color: #fff;
}

.td-vertical-center td,
#add-planning-table th,
#add-planning-table td {
    vertical-align: middle;
}

#add-planning-table th {
    text-align: center;
}

#add-planning-table input[type="number"] {
    min-width: 100px;
}
#add-planning-table tbody tr:hover {
    background: rgba(115, 108, 200, 0.05);
    box-shadow: inset 0 0 7px 0 rgba(1, 1, 1, 0.09);
}

#add-planning-table thead {
    background: #f2f8ff;
}
