{% extends 'cabinet/index.html' %}
{% load static %}
{% load i18n %}
{% load reference_book_tags %}

{% block page_title %}{% trans 'Справочник - Типы прицепных агрегатов' %}{% endblock page_title %}
{% block page_name %}{% trans 'Справочник - Типы прицепных агрегатов' %}{% endblock page_name %}

{% block header_vendor_css %}{% endblock header_vendor_css %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>{% trans 'Название' %}</th>
                            <th>{% trans 'Действия' %}</th>
                        </tr>
                        {% for machinery_type in machinery_types %}
                            <tr>
                                <td>{{ machinery_type.title }}</td>
                                <td>{% insert_action_buttons 'MachineryType' machinery_type %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block quick_actions %}
    {% if actions %}
        {% include 'cabinet/partials/_quick_actions.html' %}
    {% endif %}
{% endblock quick_actions %}

{% block footer_vendor_scripts %}{% endblock footer_vendor_scripts %}
{% block footer_scripts %}{% endblock footer_scripts %}