{% extends 'cabinet/index.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Справочник - Технологические циклы' %}{% endblock page_title %}
{% block page_name %}{% trans 'Справочник - Технологические циклы' %}{% endblock page_name %}

{% block header_vendor_css %}{% endblock header_vendor_css %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        <div class="form-group">
                            <input type="submit" value="{% trans 'Сохранить' %}" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block quick_actions %}
    {% if actions %}
        {% include 'cabinet/partials/_quick_actions.html' %}
    {% endif %}
{% endblock quick_actions %}


{% block footer_vendor_scripts %}{% endblock footer_vendor_scripts %}
{% block footer_scripts %}{% endblock footer_scripts %}