{% extends 'cabinet/index.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Справочник - Единицы измерения' %}{% endblock page_title %}
{% block page_name %}{% trans 'Справочник - Единицы измерения' %}{% endblock page_name %}

{% block header_vendor_css %}{% endblock header_vendor_css %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>{% trans 'Полное название' %}</th>
                            <th>{% trans 'Аббревиатура' %}</th>
                        </tr>
                        {% for unit in units %}
                            <tr>
                                <td>{{ unit.long_name }}</td>
                                <td>{{ unit.short_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer_vendor_scripts %}{% endblock footer_vendor_scripts %}
{% block footer_scripts %}{% endblock footer_scripts %}